// Base styles

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  font-optical-sizing: auto;
  min-height: 100vh;
}

h5,
.h5,
h6,
.h6 {
  font-weight: 550 !important;
}

p {
  max-width: 84ch;
  text-wrap: pretty;
}

a {
  text-decoration: underline;
  text-decoration-skip-ink: auto;
}

a,
li a {
  &:hover {
    text-decoration: underline;
  }
}

button {
  border: none;
}

section {
  @container (width < 575.99px) {
    scroll-snap-align: start;
    scroll-margin-block-start: 5rem;
  }
}

// Bootstrap

.container-fluid {
  @media (width > 1800px) {
    max-width: 1800px;
  }
}

.text-bg-primary,
.text-bg-dark,
.text-bg-success,
.text-bg-grayscale-dark {
  a {
    color: currentColor !important;
    text-decoration-color: currentColor !important;
  }
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: grid;

  & > * {
    grid-column: 1;
    grid-row: 1;
  }
}

.carousel-indicators [data-bs-target] {
  background-color: var(--bs-primary-800);
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  height: 0.5rem;
  width: 2.5rem;
}

.nav-pills {
  --bs-nav-link-padding-x: 0.7rem;
  --bs-nav-link-padding-y: 0.25rem;

  .nav-item:first-child {
    .nav-link {
      margin-left: 0;
    }
  }

  .nav-item:last-child {
    .nav-link {
      margin-right: 0;
    }
  }

  .nav-link {
    margin-right: 0.125rem;
    margin-left: 0.125rem;
  }

  .nav-link:not(.active) {
    text-decoration: underline;
    text-decoration-skip-ink: auto;
  }
}

.btn-lg,
.btn-group-lg > .btn {
  padding-top: 0.5rem;
  padding-bottom: 0.7rem;
}

.btn-outline-secondary {
  --bs-btn-bg: var(--bs-gray-100);
  --bs-btn-color: var(--bs-gray-800);
  --bs-btn-border-color: var(--bs-gray-700);
}

.card {
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: var(--bs-box-shadow);
  }
}

.dropdown-toggle:not(.collapsed) {
  abbr {
    display: none;
  }

  &:after {
    border-top: 0;
    border-right: 0.3em solid transparent;
    border-bottom: 0.3em solid;
    border-left: 0.3em solid transparent;
    // transform: rotateY(180deg);
  }
}

.modal-footer::after {
  content: "";
  height: 4rem;
  left: 0;
  position: absolute;
  width: 100%;
}

.modal-footer::after {
  background: linear-gradient(
    180deg,
    rgba(var(--bs-light-rgb), 0) 0%,
    var(--bs-light) 100%
  );
  top: -4rem;
}

.bd-mode-toggle {
  svg {
    fill: currentcolor;
  }
}

// Bootstrap light/dark mode

[data-bs-theme="auto"],
[data-bs-theme="light"] {
  .app-logo {
    svg {
      fill: currentcolor;
    }

    img {
      filter: invert(0.875);
    }
  }
}

[data-bs-theme="dark"] {
  .btn-primary {
    // --bs-btn-bg: var(--bs-primary-800);
    // --bs-btn-border-color: var(--bs-primary-800);
    --bs-btn-color: var(--bs-light);

    // --bs-btn-hover-bg: var(--bs-primary-dark);
    // --bs-btn-hover-border-color: var(--bs-primary-dark);
    // --bs-btn-hover-color: var(--bs-light);

    // --bs-btn-active-bg: var(--bs-primary-dark);
    // --bs-btn-active-border-color: var(--bs-primary-dark);
    // --bs-btn-active-color: var(--bs-light);
  }

  .btn-outline-primary {
    /*     --bs-btn-bg: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, .1)); */
    --bs-btn-color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
    --bs-btn-border-color: rgba(
      var(--bs-link-color-rgb),
      var(--bs-link-opacity, 1)
    );
  }

  .btn-secondary {
    --bs-btn-bg: var(--bs-gray-700);
    --bs-btn-border-color: var(--bs-gray-700);
    --bs-btn-color: var(--bs-gray-100);

    --bs-btn-hover-bg: #5c646a;
    --bs-btn-hover-border-color: #5c646a;
    --bs-btn-hover-color: var(--bs-light);

    --bs-btn-active-bg: var(--bs-gray-700);
    --bs-btn-active-border-color: var(--bs-gray-700);
    --bs-btn-active-color: var(--bs-light);
  }

  .btn-outline-secondary {
    --bs-btn-bg: var(--bs-gray-200);
    --bs-btn-color: var(--bs-gray-700);
    --bs-btn-border-color: var(--bs-gray-200);
  }

  .link {
    color: var(--bs-light);

    &:not(:hover) {
      text-decoration-color: rgba(
        var(--bs-rgb-light),
        var(--bs-link-underline-opacity, 1)
      ) !important;
    }
  }

  .nav-pills {
    &.bg-dark-subtle {
      background-color: var(--bs-body-bg) !important;
    }
  }

  .carousel-item img {
    filter: grayscale(1);
  }

  .modal-footer::after {
    background: linear-gradient(
      180deg,
      rgba(var(--bs-body-bg-rgb), 0) 0%,
      var(--bs-gray-900) 100%
    );
  }

  // END Bootstrap light/dark mode
}

// Custom styles

.app-layout {
  container-type: inline-size;
}

.brand {
  @container (width < 333px) {
    justify-content: center;
  }
}

.app-logo {
  max-width: 11rem;
}

.main {
  scroll-snap-type: y mandatory;
}